.Logo
{
  float: left;
  widows: 30%;
}
.Header{
    z-index: 10;
    background: green;
    position : fixed;
    top : 0;
    min-width: 100%;
    /* max-height: 20v; */
    max-height: 10%;
    overflow: auto;
    margin: 0 auto;
  }
  .Header img{
    width:5%;
    height:100% ;
    max-height: 100vmin;
    /* float: center; */
  }