.Body
{
  z-index: 0;
  /* position: absolute; */
  text-align: center;
  padding: auto;
  margin: 0;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/02/67/05/48578c67ca5e92b.jpg");
}