.Carousel
{
  /* padding: 20%; */
  /* margin-left: 20%; */
  margin: auto;
  /* border-right: 25%; */
  /* text-align: center; */
  width:70%;
  height: 100%;
}
.Carousel-inner img {
  margin: auto;
}