.carousel img {
    height: 100vh;
}
.carousel-indicators
{
    z-index: 1;
    position: absolute;
}
.carousel-caption{
    z-index: 0;
    position: absolute;
}
/* .carousel{
    z-index: 0;
    position: absolute;
} */
