.carousel {
    /* width: 100vw; */
    max-height: 100vh;
    margin: auto;
    object-fit: contain;
    background-color: brown;
}
.carousel img {
    /* position: absolute; */
    max-height: 722px;
    /* width: 100vw; */
    /* max-height: 100vh; */
  object-fit: contain;
}