.Header{
  z-index: 10;
  position : fixed;
  top : 0;
  min-width: 100%;
  overflow: auto;
  margin: 0 auto;

}
.Logo
{
  width: 150px;

  height: 5vh;
  top:0;
  /* min-width: 90px; */
  /* height: 40px; */

  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 20px;
  background-size: cover;
}
#GreenAd { 
  width: auto;
  height: 100%;
	}
button {
  background: none;
  cursor:unset;
  transition: all 0.5s;
  border: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  color: rgb(218, 165, 32);
  font-weight: bold;
  margin-top: 5px;
  /* display: inline-block; */
  /* cursor: pointer; */
  /* position: relative; */
  /* transition: 0.5s; */
}
/* button:hover{
  color:red
} */
button:focus 
{
  outline:0;
}
.navbar { 
  z-index: 10;
  /* background-color:rgba(0, 0, 0, 1); */
  
  /* height: 8vh; */
  /* height: 10vh; */
  /* max-ght: 50px; */
  /* background: url(http://sfwallpaper.com/images/solid-red-wallpaper-13.jpg); */
  /* background: transparent; */

}
.navbar-toggler-icon
{
  height: 35px;
}

button.navbar-toggler
{
  max-height: 35px;
  outline:0;border-width:0;
} 

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: red
}

.button:hover span {
  padding-right: 25px;
  color: red
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}