.Header{
  z-index: 10;
  position : fixed;
  top : 0;
  min-width: 100%;
  overflow: auto;
  margin: 0 auto;

}
.Logo
{
  width: 150px;

  height: 5vh;
  top:0;
  /* min-width: 90px; */
  /* height: 40px; */

  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 20px;
  background-size: cover;
}
#GreenAd { 
  width: auto;
  height: 100%;
	}
button {
  background: none;
  cursor:unset;
  border: none;
  font-size: 16px;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;
  color: rgb(218, 165, 32);
  font-weight: bold;
}
button:hover{
  color:red
}
button:focus 
{
  outline:0;
}
.navbar { 
  z-index: 10;
  /* background-color:rgba(0, 0, 0, 1); */
  
  /* height: 8vh; */
  /* height: 10vh; */
  /* max-ght: 50px; */
  /* background: url(http://sfwallpaper.com/images/solid-red-wallpaper-13.jpg); */
  /* background: transparent; */

}
.navbar-toggler-icon
{
  height: 35px;
}

button.navbar-toggler
{
  max-height: 35px;
  outline:0;border-width:0;
} 
/* .MuiButton-label-2
{
  background: none;
  cursor:unset;
  border: none;
  font-size: 16px;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;
  color: white;
  font-weight: bold;
} */




