/* div {display: block;} */

.Header{
  z-index: 10;
  background: green;
  position : fixed;
  top : 0;
  min-width: 100%;
  /* max-height: 20v; */
  max-height: 10%;
  overflow: auto;
  margin: 0 auto;
}
.Header img{
  width:5%;
  height:100% ;
  max-height: 100vmin;
  /* float: center; */
}
.headerList {
  float: left;
  padding-top:1vh;
  background:white;
  width: 70%;
}
.headerList li{display: inline-block;margin-right: 1vmin;}
/* .headerList button
{
  color:green;
  background: none;
  cursor:unset;
  border: none;
  font:bold,Arial,Sans-Serif;
  font-size: 1.5vmax;
  outline: none
} */
.headerList button:hover{color: red;}
.headerBtn {
  color:green;
  background: none;
  cursor:unset;
  border: none;
  font:bold,Arial,Sans-Serif;
  font-size: 1.5vmax;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;
}
.headerBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.headerBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.headerBtn:hover span {
  padding-right: 20px;
}

.headerBtn:hover span:after {
  opacity: 1;
  right: 0;
}
.Logo
{
  float: left;
  widows: 30%;
}
.Body{
  top:1%;
  background: tomato;
  padding-top: 1vmin;
  padding-bottom: 1px; 
  display: block;
  text-align: left;
}
.Footer
{
  position: unset;
  min-width: 100%;
  padding-bottom: 1%; 
  bottom: 0%;
  vertical-align: bottom;
  background: black;
  color: white;
}

.container .btn{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  background-color: black;
  border:none;
  cursor: pointer;

}
#swipingImage 
{
  z-index: 0;
  width: 60%;
  /* padding-top: 2%; */
  padding-top: 10vw;
  padding-left:20% 
}

#myDiv {
  display: none;
  text-align: center;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 10px;
  height: 10px;
  margin: -100px 0 0 -100px;
  border: 16px solid #f3f3f3;
  border-radius: 100%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
